@import url('https://fonts.googleapis.com/css?family=Lato:400');


.merchandisemain {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 1228px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
div {
  -webkit-text-size-adjust: none;
}
.merchandisemain .products {
  background-color    : rgba(255,255,255,0.0);
  top                 : 238px;
  height              : 685px;
  width               : 1178px;
  position            : absolute;
  margin              : 0;
  left                : 131px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.merchandisemain .products .mexican {
  background-color    : rgba(255,255,255,0.0);
  top                 : 329px;
  height              : 356px;
  width               : 323px;
  position            : absolute;
  margin              : 0;
  left                : 285px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.merchandisemain .products .mexican .imgea241f65c3621 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 323px;
  width               : 323px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 5px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.merchandisemain .products .mexican .imgea241f65c3621 .mask {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 323px;
  width               : 323px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.merchandisemain .products .mexican .imgea241f65c3621 .imgea241f65c36211 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 32px;
  height              : 292px;
  width               : 254px;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.merchandisemain .products .mexican .mexicanblanket {
  background-color    : rgba(255,255,255,0.0);
  top                 : 297px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(156, 156, 156, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.merchandisemain .products .mexican .a20 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 319px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 33px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(156, 156, 156, 1.0);
  text-align          : center;
  line-height         : 20.0px;
}
.merchandisemain .products .youth {
  background-color    : rgba(255,255,255,0.0);
  top                 : 329px;
  height              : 356px;
  width               : 323px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.merchandisemain .products .youth .youthnavybluelightbluelogoshirt {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 323px;
  width               : 323px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 5px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.merchandisemain .products .youth .youthnavybluelightbluelogoshirt .mask {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 323px;
  width               : 323px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.merchandisemain .products .youth .youthnavybluelightbluelogoshirt .youthnavybluelightbluelogoshirt1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -3px;
  height              : 366px;
  width               : 243px;
  position            : absolute;
  margin              : 0;
  left                : 40px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.merchandisemain .products .youth .seabirdyouthtshir {
  background-color    : rgba(255,255,255,0.0);
  top                 : 297px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(156, 156, 156, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.merchandisemain .products .youth .a18 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 319px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 33px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(156, 156, 156, 1.0);
  text-align          : center;
  line-height         : 20.0px;
}
.merchandisemain .products .toddler {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 356px;
  width               : 323px;
  position            : absolute;
  margin              : 0;
  left                : 855px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.merchandisemain .products .toddler .toddlernavybluelightbluelogoshirt {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 323px;
  width               : 323px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 5px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.merchandisemain .products .toddler .toddlernavybluelightbluelogoshirt .mask {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 323px;
  width               : 323px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.merchandisemain .products .toddler .toddlernavybluelightbluelogoshirt .toddlernavybluelightbluelogoshirt1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -13px;
  height              : 384px;
  width               : 254px;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.merchandisemain .products .toddler .seabirdtoddlertsh {
  background-color    : rgba(255,255,255,0.0);
  top                 : 297px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(156, 156, 156, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.merchandisemain .products .toddler .a18 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 319px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 33px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(156, 156, 156, 1.0);
  text-align          : center;
  line-height         : 20.0px;
}
.merchandisemain .products .adultt {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 356px;
  width               : 323px;
  position            : absolute;
  margin              : 0;
  left                : 570px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.merchandisemain .products .adultt .adultnavyblueshirt {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 323px;
  width               : 323px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 5px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.merchandisemain .products .adultt .adultnavyblueshirt .mask {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 323px;
  width               : 323px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.merchandisemain .products .adultt .adultnavyblueshirt .adultnavyblueshirt1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -12px;
  height              : 344px;
  width               : 229px;
  position            : absolute;
  margin              : 0;
  left                : 47px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.merchandisemain .products .adultt .seabirdadulttshir {
  background-color    : rgba(255,255,255,0.0);
  top                 : 297px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(156, 156, 156, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.merchandisemain .products .adultt .a20 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 319px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 33px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(156, 156, 156, 1.0);
  text-align          : center;
  line-height         : 20.0px;
}
.merchandisemain .products .hoodie {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 356px;
  width               : 323px;
  position            : absolute;
  margin              : 0;
  left                : 285px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.merchandisemain .products .hoodie .adulthoodedgreysweatshirtcopy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 323px;
  width               : 323px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 5px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.merchandisemain .products .hoodie .adulthoodedgreysweatshirtcopy .mask {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 323px;
  width               : 323px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.merchandisemain .products .hoodie .adulthoodedgreysweatshirtcopy .adulthoodedgreysweatshirtcopy1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : -19px;
  height              : 327px;
  width               : 490px;
  position            : absolute;
  margin              : 0;
  left                : -72px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.merchandisemain .products .hoodie .seabirdhoodie {
  background-color    : rgba(255,255,255,0.0);
  top                 : 297px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(156, 156, 156, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.merchandisemain .products .hoodie .a40copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 319px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 33px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(156, 156, 156, 1.0);
  text-align          : center;
  line-height         : 20.0px;
}
.merchandisemain .products .crewneck {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 356px;
  width               : 323px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.merchandisemain .products .crewneck .adultcrewgreysweatshirt {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 323px;
  width               : 323px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 5px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.merchandisemain .products .crewneck .adultcrewgreysweatshirt .mask {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 323px;
  width               : 323px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.merchandisemain .products .crewneck .adultcrewgreysweatshirt .adultcrewgreysweatshirt1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 9px;
  height              : 325px;
  width               : 490px;
  position            : absolute;
  margin              : 0;
  left                : -83px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.merchandisemain .products .crewneck .seabirdcrewneckswe {
  background-color    : rgba(255,255,255,0.0);
  top                 : 297px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(156, 156, 156, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.merchandisemain .products .crewneck .a50 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 319px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 33px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(156, 156, 156, 1.0);
  text-align          : center;
  line-height         : 20.0px;
}
.merchandisemain .products .giftcard {
  background-color    : rgba(255,255,255,0.0);
  top                 : 329px;
  height              : 356px;
  width               : 323px;
  position            : absolute;
  margin              : 0;
  left                : 570px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.merchandisemain .products .giftcard .img42671 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 323px;
  width               : 323px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 5px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.merchandisemain .products .giftcard .img42671 .mask {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 323px;
  width               : 323px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.merchandisemain .products .giftcard .img42671 .img426711 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 73px;
  height              : 173px;
  width               : 174px;
  position            : absolute;
  margin              : 0;
  left                : 75px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.merchandisemain .products .giftcard .seabirdgiftcard {
  background-color    : rgba(255,255,255,0.0);
  top                 : 297px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 34px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(156, 156, 156, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.merchandisemain .products .giftcard .a20 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 319px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 33px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(156, 156, 156, 1.0);
  text-align          : center;
  line-height         : 20.0px;
}
.merchandisemain .ocean {
  background-color    : rgba(255, 125, 50, 1.0);
  top                 : 0px;
  height              : 148px;
  width               : 1443px;
  position            : absolute;
  margin              : 0;
  left                : -3px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.merchandisemain .ocean .mask {
  background-color    : rgba(255, 125, 50, 1.0);
  top                 : 0px;
  height              : 148px;
  width               : 1443px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.merchandisemain .ocean .peterfogden461401unsplash {
  background-color    : rgba(255,255,255,0.0);
  top                 : -351px;
  height              : 1370px;
  width               : 1475px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.merchandisemain .header {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 126px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.merchandisemain .header .rectangle {
  background-color    : rgba(74, 73, 74, 0.7);
  top                 : 0px;
  height              : 60px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.merchandisemain .header .merchbutton {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : 54px;
  width               : 123px;
  position            : absolute;
  margin              : 0;
  left                : 137px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.merchandisemain .header .merchbutton .rectangle1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 54px;
  width               : 123px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.merchandisemain .header .merchbutton .merch {
  background-color    : rgba(255,255,255,0.0);
  top                 : 15px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 27px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 20.0px;
}
.merchandisemain .header .menuitems {
  background-color    : rgba(255,255,255,0.0);
  top                 : 22px;
  height              : 23px;
  width               : 533px;
  position            : absolute;
  margin              : 0;
  left                : 768px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.merchandisemain .header .menuitems .aboutus {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 119px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 20.0px;
}
.merchandisemain .header .menuitems .aboutus .span1 {
  font-family         : ".AppleSystemUIFont", Helvetica, Arial, serif;
}
.merchandisemain .header .menuitems .aboutus .span2 {
  font-family         : ".AppleSystemUIFont", Helvetica, Arial, serif;
}
.merchandisemain .header .menuitems .roasters {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 119px;
  position            : absolute;
  margin              : 0;
  left                : 136px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 20.0px;
}
.merchandisemain .header .menuitems .purveyors {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 131px;
  position            : absolute;
  margin              : 0;
  left                : 273px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 20.0px;
}
.merchandisemain .header .menuitems .contact {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 112px;
  position            : absolute;
  margin              : 0;
  left                : 422px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 20.0px;
}
.merchandisemain .header .rightwing {
  background-color    : rgba(255,255,255,0.0);
  top                 : 60px;
  height              : 60px;
  width               : 469px;
  position            : absolute;
  margin              : 0;
  left                : 971px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.merchandisemain .header .rightwing .rightwing1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 60px;
  width               : 469px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.merchandisemain .header .rightwing .facebook {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : 50px;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 58px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.merchandisemain .header .rightwing .facebook .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 50px;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.merchandisemain .header .rightwing .facebook .path {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : 32px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.merchandisemain .header .rightwing .spotify {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : 50px;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 151px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.merchandisemain .header .rightwing .spotify .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 50px;
  width               : 50px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.merchandisemain .header .rightwing .instagram {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : 50px;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 246px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.merchandisemain .header .rightwing .instagram .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 50px;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.merchandisemain .header .rightwing .instagram .shape1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 12px;
  height              : 26px;
  width               : 26px;
  position            : absolute;
  margin              : 0;
  left                : 12px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.merchandisemain .header .rightwing .instagram .oval {
  background-color    : rgba(255,255,255,0.0);
  top                 : 9px;
  height              : 7px;
  width               : 7px;
  position            : absolute;
  margin              : 0;
  left                : 35px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.merchandisemain .header .leftwing {
  background-color    : rgba(255,255,255,0.0);
  top                 : 60px;
  height              : 60px;
  width               : 469px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.merchandisemain .header .leftwing .leftwing1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 60px;
  width               : 469px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.merchandisemain .header .leftwing .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 45px;
  width               : 132px;
  position            : absolute;
  margin              : 0;
  left                : 307px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.merchandisemain .header .leftwing .group2 .a630a330p {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 48px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 20.0px;
}
.merchandisemain .header .leftwing .group2 .a7a330p {
  background-color    : rgba(255,255,255,0.0);
  top                 : 23px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 48px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 20.0px;
}
.merchandisemain .header .leftwing .group2 .mofr {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 20.0px;
}
.merchandisemain .header .leftwing .group2 .sasu {
  background-color    : rgba(255,255,255,0.0);
  top                 : 23px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 20.0px;
}
.merchandisemain .header .leftwing .group3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 45px;
  width               : 141px;
  position            : absolute;
  margin              : 0;
  left                : 144px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.merchandisemain .header .leftwing .group3 .a24southmainst {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 20.0px;
}
.merchandisemain .header .leftwing .group3 .cohassetma02025copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 23px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 20.0px;
}
.merchandisemain .footer {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1008px;
  height              : 220px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.merchandisemain .footer .rectangle {
  background-color    : rgba(10, 40, 68, 1.0);
  top                 : 0px;
  height              : 220px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.merchandisemain .footer .a2512018seabirdcoffe {
  background-color    : rgba(255,255,255,0.0);
  top                 : 182px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 164px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 20.0px;
}
.merchandisemain .footer .group4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 53px;
  height              : 114px;
  width               : 358px;
  position            : absolute;
  margin              : 0;
  left                : 164px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.merchandisemain .footer .group4 .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 46px;
  height              : 45px;
  width               : 132px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.merchandisemain .footer .group4 .group2 .a630a330p {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 48px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 20.0px;
}
.merchandisemain .footer .group4 .group2 .a7a330p {
  background-color    : rgba(255,255,255,0.0);
  top                 : 23px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 48px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 20.0px;
}
.merchandisemain .footer .group4 .group2 .mofr {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 20.0px;
}
.merchandisemain .footer .group4 .group2 .sasu {
  background-color    : rgba(255,255,255,0.0);
  top                 : 23px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 20.0px;
}
.merchandisemain .footer .group4 .group3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 68px;
  width               : 357px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.merchandisemain .footer .group4 .group3 .a24southmainst {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 20.0px;
}
.merchandisemain .footer .group4 .group3 .facebook {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 285px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.merchandisemain .footer .group4 .group3 .instagram {
  background-color    : rgba(255,255,255,0.0);
  top                 : 23px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 285px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.merchandisemain .footer .group4 .group3 .spotify {
  background-color    : rgba(255,255,255,0.0);
  top                 : 46px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 285px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.merchandisemain .footer .group4 .group3 .cohassetma02025copy {
  background-color    : rgba(255,255,255,0.0);
  top                 : 23px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 20.0px;
}
.merchandisemain .footer .group4 .a78138305922 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 92px;
  height              : 22px;
  width               : 97px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.merchandisemain .footer .group4 .a78138305922 .a7813830592 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 20.0px;
}
.merchandisemain .footer .designedbyaaronce {
  background-color    : rgba(255,255,255,0.0);
  top                 : 182px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 449px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 20.0px;
}
.merchandisemain .footer .longform {
  background-color    : rgba(255,255,255,0.0);
  top                 : 48px;
  height              : 38px;
  width               : 350px;
  position            : absolute;
  margin              : 0;
  left                : 735px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.merchandisemain .footer .longform .rectangle1 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 38px;
  box-sizing          : border-box;
  width               : 350px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-style        : solid;
  border-width        : 1px;
  border-color        : rgba(9, 40, 68, 1.0);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.merchandisemain .footer .longform .name {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 10px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(157, 157, 157, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.merchandisemain .footer .developedbydaniel {
  background-color    : rgba(255,255,255,0.0);
  top                 : 182px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 735px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 20.0px;
}
.merchandisemain .footer .rectanglecopy17 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 27px;
  height              : 82px;
  width               : 204px;
  position            : absolute;
  margin              : 0;
  left                : 921px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.merchandisemain .footer .submit {
  background-color    : rgba(255,255,255,0.0);
  top                 : 63px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 999px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 20.0px;
}
.merchandisemain .footer .caf351 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 22px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 164px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : 2.0px;
  line-height         : 20.0px;
}
.merchandisemain .footer .follow {
  background-color    : rgba(255,255,255,0.0);
  top                 : 22px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 450px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 2.0px;
  line-height         : 20.0px;
}
.merchandisemain .footer .joinourmailinglis {
  background-color    : rgba(255,255,255,0.0);
  top                 : 22px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 735px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleSystemUIFont", Helvetica, Arial, serif;
  font-size           : 17.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 2.0px;
  line-height         : 20.0px;
}
.merchandisemain .merchandiseheader {
  background-color    : rgba(255,255,255,0.0);
  top                 : 146px;
  height              : 60px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.merchandisemain .merchandiseheader .rectangle {
  background-color    : rgba(208, 123, 17, 1.0);
  top                 : 0px;
  height              : 60px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.merchandisemain .merchandiseheader .merchandise {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 614px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "San Francisco", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
}
.merchandisemain .merchandiseheader .line2copy3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 28px;
  height              : 3px;
  width               : 606px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}